<a href="https://colab.research.google.com/github/BT21PrKu/Thapar-Summer-School-ML-Course-Assignments/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1.

In [ ]:
L=[11,12,13,14]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

In [ ]:
L.remove(11)
L.remove(13)
print(L)

[12, 14, 50, 60]

In [ ]:
L.sort()
print(L)

[12, 14, 50, 60]

In [ ]:
L.sort(reverse=True)
print(L)

[60, 50, 14, 12]

In [ ]:
L.append(13)
x=L.index(13)
print(x)

4

In [ ]:
print(len(L))

5

In [ ]:
sum(L)

149

In [ ]:
s=0
for i in range(len(L)):
  if L[i]%2!=0:
    s+=L[i]
print(s)

13

In [ ]:
s=0
for i in range(len(L)):
  if L[i]%2==0:
    s+=L[i]
print(s)

136

In [ ]:
L=[11,12,13,14]
L.clear()
print(L)

[]

In [ ]:
del L

Q2.

In [ ]:
D= {1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
D[8]=8.8

In [ ]:
del D[2]

In [ ]:
if 6 in D.keys():
    print("present")
else:
    print("not present")

not present

In [ ]:
print(len(D))

5

In [ ]:
sum(D.values())

37.4

In [ ]:
D[3] = 7.1

In [ ]:
D.clear()
print(D)

{}

Q3.

In [ ]:
S1 = {10,20,30,40,50,60}
S2= {40, 50, 60, 70, 80, 90}
S1.add(55)
S1.add(66)

In [ ]:
S1.remove(10)
S1.remove(30)

In [ ]:
if 40 in S1:
    print("present")
else: 
    print("not present")

present

In [ ]:
x=S1.union(S2)
print(x)

{66, 70, 40, 80, 50, 20, 55, 90, 60}

In [ ]:
y=S1.intersection(S2)
print(y)

{40, 50, 60}

In [ ]:
z=S1-S2
print(z)

{66, 20, 55}

Q4.

In [ ]:
import string as s
import random as r
L=[]
i=1
while i<=10:
  x=r.randint(6,8)
  for i in range(x):
    y="".join(r.choices(s.ascii_letters+s.digits+s.punctuation))
    L.append(y)
print(y)

In [ ]:
for number in range (600,800 + 1):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            print (number)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

In [ ]:
L = []
for i in range(100,1001):
    if i%63==0:
        L.append(i)
print(L)

[126, 189, 252, 315, 378, 441, 504, 567, 630, 693, 756, 819, 882, 945]

Q5.

In [ ]:
import random as r
r1 = r.sample(range(10,30), 10)
r2 = r.sample(range(10,30), 10)
print(r1)
print(r2)

[14, 13, 18, 28, 12, 10, 24, 29, 26, 22]
[25, 14, 16, 18, 23, 15, 27, 19, 24, 21]

In [ ]:
a = set(r1)
b = set(r2)
c = a&b
print(c)

{24, 18, 14}

In [ ]:
a = set(r1)
b = set(r2)
print(a-(a&b))
print(b-(b&a))

{10, 12, 13, 22, 26, 28, 29}
{15, 16, 19, 21, 23, 25, 27}

In [ ]:

print(min(r1))
print(min(r2))

10
14

In [ ]:

print(max(r1))
print(max(r2))

29
27

In [ ]:
print(sum(r1))
print(sum(r2))

196
202

Q6.

In [ ]:
import random as r
L=r.sample(range(100,900),100)
print(L)

[123, 589, 791, 639, 696, 563, 449, 611, 357, 240, 170, 724, 844, 629, 206, 299, 648, 727, 517, 645, 428, 658, 101, 167, 351, 179, 228, 763, 388, 294, 507, 829, 547, 895, 339, 256, 223, 886, 122, 405, 590, 513, 471, 161, 680, 740, 350, 721, 650, 377, 174, 664, 323, 424, 495, 213, 654, 286, 295, 691, 864, 530, 855, 516, 287, 474, 770, 222, 760, 510, 473, 780, 616, 750, 398, 865, 209, 444, 537, 693, 699, 622, 741, 601, 744, 812, 859, 698, 690, 262, 363, 787, 291, 451, 190, 200, 465, 628, 792, 245]

In [ ]:
O=[]
for x in L :
  if x%2!=0:
    O.append(x)
print(O)

[123, 589, 791, 639, 563, 449, 611, 357, 629, 299, 727, 517, 645, 101, 167, 351, 179, 763, 507, 829, 547, 895, 339, 223, 405, 513, 471, 161, 721, 377, 323, 495, 213, 295, 691, 855, 287, 473, 865, 209, 537, 693, 699, 741, 601, 859, 363, 787, 291, 451, 465, 245]

In [ ]:
E=[]
for x in L :
  if x%2==0:
    E.append(x)
print(E)

[696, 240, 170, 724, 844, 206, 648, 428, 658, 228, 388, 294, 256, 886, 122, 590, 680, 740, 350, 650, 174, 664, 424, 654, 286, 864, 530, 516, 474, 770, 222, 760, 510, 780, 616, 750, 398, 444, 622, 744, 812, 698, 690, 262, 190, 200, 628, 792]

In [ ]:
P=[]
for x in L :
  if is_prime(x):
    P.append(x)
print(P)

Q7.

In [ ]:
D = {1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
for key,value in D.items():
    print("{:<10} {:<10} ".format(key,value))

1          One
2          Two
3          Three
4          Four
5          Five

Q10.

In [ ]:
def is_prime(n):
    if n == 1:
        return False
    i = 2
    while i*i <= n :
        if n%i == 0:
            return False
        i+= 1
    return True
prime_list = []
for j in range(600,801):
    if is_prime(j):
        prime_list.append(j)
print(prime_list)

[601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797]

Q11.

In [ ]:
import time as t

start = t.time()

a=10
b=20
c=a+b
print(c)

end = t.time()
print(end - start)

30
0.0008149147033691406